@font-face {
    font-family: 'domain';
    src: url('domainfont.ttf');
}
#main{
    background-color:#1C1C1A;
    overflow-x:hidden;
}
*{
    margin:0%;
    padding: 0%;
    box-sizing: border-box;
    color:#1c1c1c;
}
html,body{
    height:100%;
    width:100%;
}
#page1{
    
    height: 130vh;
    width: 100vw;
    background-color: #C3BCB2;
    position: relative;
    overflow:hidden;
}
#nav{
    height: 90px;
    width:100%;
   /* background-color: red;*/
    align-items: center;
    justify-content: space-between;
    display:flex;
    position: fixed;
    background-color: #C3BCB2;
    padding: 0 30px;
    border-bottom: 1px solid #222;
}
#nav img{
    height:23px;
    width: 30%;
}
#nav h5{
    font-size:16px;
    font-weight: 100;
    width:30%;
}
#nav i{
    width:30%;
    text-align:right;
}
#elems{
    height: 430px;
    display:flex;
    margin-top:5%;
    align-items: center;
    justify-content: space-between;
    padding: 40px 60px;
}
#elems1{
    height: 100%;
    width:30%;


}
#elems2{
    height: 100%;
    width:30%;
    border-right:1px solid #222;
    border-left:1px solid #222; 
    padding: 20px 60px;
    text-align:center;   
}
#elems3{
    height: 100%;
    width:30%;
    
}
#elems1 #image-div{
    height:60%;
    width:100%;
    overflow:hidden;
}
#elems3 #image-div{
    height:60%;
    width:100%;
    overflow:hidden;
}
#image-div img{
    object-fit: cover;
    height:100%;
    width:100%;
    transition: all ease 0.5s;
    border: 1px solid black;
}
#image-div:hover img{
    scale:1.1;
}
#elems1 h4{
    font-size: 24px;
    margin-top:20px;
    margin-bottom:10px;
    font-family: canopee;
}
#elems1 h4 span{
    background-color: #B63B12;
    color: #fff;
    font-weight: 100;
    font-size:18px;
    padding:4px;
    border-radius: 5px;
    margin-left:8px;
}
#elems1 p{
    font-size:22px;
    font-family: 'domain'; 
    font-weight: 100;
    color:#1c1c1c;
}
#elems3 h4{
    font-size: 24px;
    margin-top:20px;
    margin-bottom:10px;
    font-family: canopee;
}
#elems3 h4 span{
    background-color: #B63B12;
    color: #fff;
    font-weight: 100;
    font-size:18px;
    padding:4px;
    border-radius: 5px;
    margin-left:8px;
}
#elems3 p{
    font-size:22px;
    font-family: 'domain'; 
    font-weight: 100;
    color:#1c1c1c;
}
#elems2 h2{
    font-family: canopee;
    font-weight:100;
    font-size:75px;
    letter-spacing: -5px;
}
#elems2 h3{
    font-family: 'domain';
    font-size:45px;
    font-weight: 50;
    color:#1c1c1c;
    margin:20px 0;
    margin-bottom:40px;
    font-weight: 10;
}

#elems h6{
    font-family: 'domain';
    font-size:20px;
    font-weight: 10;

}
#page1 h1{
    font-size:620px;
    font-family: canopee;
    background-color: #1C1C1A;
    color:#c4bcb3;
    font-weight: 100;
    line-height: 500px;
    width: 96%;
    margin-left: 2%;
    padding-top:1%;
    letter-spacing: -30px;
    padding-left:2%;
}
#page2{
    height: 155vh;
    width:100%;
    background-color: #C3BCB2;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding-top:25px;
}
#page2-left{
    height: 100%;
    width:39%;
    margin-left:2%;
    font-weight: 100;
    border-right:1px solid black;
}
#page2-left h2{
    font-size:140px;
    letter-spacing: -5px;
    /* text-align: center; */
    font-family: canopee;   
    line-height: 150px; 
    height:28%;
    
}
#page2-left h2 span{
    font-size:240px;
    line-height: 140px;
}
#page2-left img{
    height: 50%;
    width:88%;
    border:1px solid black;

}
#page2-left p{
    font-family:'domain';
    font-size:30px;
    font-weight: 20;
    margin-right: 10%;
    width:88%;
}
#page2-left p span{
    color:#C3BCB2;
    background-color: #1c1c1c;
    font-size:100px;
    margin:2%;
    padding-top:0px;
    padding-bottom: 0px;
    padding-left:5px;
    padding-right:5px;
    margin-top:50px;

}

#page2-right{
    height: 100%;
    width:61%;
    padding:0 50px;
    padding-right:36px;
    
}
#page2-right img{
    height:55%;
    width:100%;
    border:1px solid black;
}
#page2-right h1{
    font-family: canopee;
    font-size:130px;
    font-weight: 100;
    letter-spacing: -5px;
}
#page3{

    width:100%;
    background-color: #C3BCB2;
    

}
#page3 .header{
    padding-top:3%;
    height:55vh;
    width:100%;
    display:flex;
    margin-left:2%;
}
#page3 .header span{
    font-size:480px;
    padding-top:1%;
    line-height: 380px;
    padding-bottom:0;
    letter-spacing: -13px;
    
    color:#C3BCB2;
    background-color: #1c1c1c;
    font-family: canopee;
    font-weight: 100;
    width:73%;
    margin-right:2%;
    padding-left:1%;
}
#page3 .header #stamp-img{
    width:25%;
}
.page3body{
    width:100%;
    padding-top:5%;
    font-family:'domain';
    display:flex;
}
.page3left{
height:100%;
width:60%;
/* background-color: red; */
border-right:1px solid black;
}
.page3left .head{
    display:flex;
}
.page3left .head .leftdiv{
    width:40%;
    border-right:1px solid black;
    margin-left:3%;
}
.page3left .head .rightdiv{
    width:56%;
}
.igm{
    overflow:hidden;
    margin-left:10%;
    height:65%;
    width:80%;
    
}
.page3left .head .rightdiv img{
    object-fit: cover;
    height:100%;
    width:100%;
    transition: all ease 0.5s;
    border: 1px solid black;
}
.page3left .head .rightdiv .igm:hover img{
    scale:1.1;
}
.page3right{
height:100%;
width:40%;
}
#page3 .page3body .page3left .head .leftdiv h1{
font-family: canopee;
font-size:60px;
letter-spacing: -2px;

}
#page3 .page3body .page3left .head .leftdiv p{
    font-size:40px;
font-weight: 20;
color:#222;
margin:20px 0;
}
#page3 .page3body .page3left .head .leftdiv p2{
    font-size:18px;
}
#page3 .page3body .page3left .head .rightdiv  h3{
    margin-left:10%;
    margin-top:6px;
    margin-bottom: 2px;
    font-size:35px;
    font-family: canopee;
}
#page3 .page3body .page3left .head .rightdiv p{
    font-size:22px;
    line-height: 20px;
    font-weight: 20;
    color:#222;
    margin-left:10%;
}
.page3body .page3left .bottoms img{
    margin-top:5%;
    height:650px;
    width:95%;
    margin-left:3%;
    padding-right:3%;
}
.page3body .page3right h1{
    
    font-family: canopee;
    font-size:120px;
    margin-left:10%;
    letter-spacing: -4px;
}
.page3body .page3right span{
    font-family: canopee;
    font-size:240px;
    margin-left:13%;
    letter-spacing: -8px;
}
.page3right span2{
    color:#C3BCB2;
    background-color: #1c1c1c;
    font-size:100px;
    margin:2%;
    padding-top:0px;
    padding-bottom: 0px;
    padding-left:5px;
    padding-right:5px;
    margin-top:50px;
    font-family: 'domain';
    
}

.page3right p{
    font-family:'domain';
    font-size:30px;
    font-weight: 20;
    margin-right: 10%;
    width:88%;
    margin-left:10%;

 }
 .elipsee{
    border:1.5px solid black;
    width:520px;
    height:140px; 
    margin-top:5%;
    margin-left:10%;
    border-radius: 50%;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    display:flex;
    overflow:hidden;
 }
 .elipsee h1{

    font-weight: 100;

    transition:all ease 0.8s;
    height: 100%;
    width: 160%;
    transform: translateX(-25%);
    display:flex;
    align-items: center;
    justify-content: center;
 }
 .elipsee img{
    transform: translateX(-120%);
    transition:all ease 0.8s;
    width:200px;
}
 .elipsee:hover img{
    transform: translateX(145%);
 }
 .elipsee:hover h1{
    transform: translateX(100%);
 }
.flexbox{
    border-top:1px solid #222;
    border-bottom :1px solid #222;
    display:flex;
    justify-content: space-between;
    width:96%;
    margin-top:5%;
    margin-left:2%;
    background-color: #C3BCB2;
}
.flexbox .item1{
    display:flex;
    font-family: canopee;
    padding:25px 0;
}
.item1 text{
    font-size:40px;
    padding: 30px 0;
    text-align: center;
    letter-spacing: -2px;
    
}
.items1 text h1{
    font-size:60px;
    letter-spacing: -30px;

}
.item1 span{
    font-family: 'domain';
    font-size:160px;
    margin-left:20px;
}
#page4{
    height:230vh;
    width:100%;
    background-color: #C3BCB2;
}
.topdiv{
    margin-left:2%;
    display:flex;
}
.flexy{
    display:flex;
}
.flexy h1{
    line-height: 400px;
    font-size:550px;
    font-family: canopee;
    font-weight: 100;
    letter-spacing:-20px
}
.flexy h1 OK{
    margin-left:-28%;
    font-size:500px;
    letter-spacing:-15px;
}
.lefty .flexy img{
    height:385px;
    width:320px;
    border:1px solid black;
}
.righty img{
    height:785px;
    width:94%;
    border:1px solid black;
    margin-right:2%;
    margin-left:2%;
}
.righty{
    width:50%;
}
.lefty{
    width:50%;
}
.topisthe{
    display:flex;
    margin-left:2%;
}
.topisthe img{
    height:390px;
    border: 1px solid black;
}
.topisthe h1{
    font-family: canopee;
    font-size :520px;
    letter-spacing: -18px;
    font-weight: 100;
    line-height: 415px;
}
.topisthe h1 o{
    font-family: 'domain';
}
.downisthe {
    display:flex;
    margin-left:2%;
    
}
.downisthe span{
    color:#C3BCB2;
    background-color: #1C1C1A;
    font-size:400px;
    font-family: canopee;
    line-height: 350px;
    letter-spacing:-5px;
    padding-left:10px;
    padding-right:10px;

}
.downisthe p{
    font-size:32px;
    font-weight: 100;
    font-family: 'domain';
    margin-left:10%;
    line-height: 40px;;
}
.downisthe h1{
    font-size:100px;
    font-family: canopee;
    font-weight: 100;
    margin-left:10%;
    
    /* padding-top:-10px;
    padding-bottom:-40px; */
}
#page5{
    background-color: #C3BCB2;
}
#page5 #cards{
    margin-left:2%;
    margin-top:-6%;
}
#page5 .somp{
    height:410px;
    width:610px;
    padding-top:5px;
    border:3px solid #222;
    background-color: #C3BCB2;
    border-radius:20px;
    padding-left:5px;
    box-shadow:5px 10px 18px #0000;   
}
#page5 .card1{
    height:395px;
    font-size:35px;
    margin:auto;
    padding:30px;
    font-family: 'domain';
    font-weight: 100;
    background-color: #C3BCB2;
    width:595px;
    border-radius:18px;
    border-width: 10px;
    border:5px dashed #222;

}
#page4{
    padding-top:5%;
}
.okimg{
    height:70px;
    border-radius:50%;
    border:1px solid black;
    margin-top:12%;
}
zep{
    font-weight: 100;
    font-size:30px;
    color:#706f6c;
    display:flex;
}
#cards{
    display:flex;
    cursor:pointer;
}

#page5 .somp1{
    height:410px;
    width:610px;
    padding-top:5px;
    border:3px solid #222;
    background-color: #C3BCB2;
    border-radius:20px;
    
    transform: translateX(-45%);
    padding-left:5px;
    box-shadow:5px 10px 18px #0000;   
}
#page5 .somp2{
    height:410px;
    width:610px;
    padding-top:5px;
    transform: translateX(-90%);
    border:3px solid #222;
    background-color: #C3BCB2;
    border-radius:20px;
    padding-left:5px;
    box-shadow:5px 10px 18px #0000;   
}
#page5 .somp3{
    height:410px;
    width:610px;
    padding-top:5px;
    transform: translateX(-135%);
    border:3px solid #222;
    background-color: #C3BCB2;
    border-radius:20px;
    padding-left:5px;
    box-shadow:5px 10px 18px #0000;   
}
#page5 #cards .somp:hover + .somp1,.somp2 {
    transform: translateX(-10%); /* Adjust the value as needed */
    transition: all 1s ease; /* Add a smooth transition effect */
    
}
#page5 #cards .somp:hover .card1{
    background-color: #aea488;
    transition: all ease 0.4s;
}
#page5 #cards .somp1:hover .card1{
    background-color: #aea488;
    transition: all ease 0.4s;
}
#page5 #cards .somp:hover {
    background-color: #aea488;
    transition: all ease 0.4s;
}
#page5 #cards .somp1:hover{
    background-color: #aea488;
    transition: all ease 0.4s;
}
#page5 #cards .somp2:hover .card1{
    background-color: #aea488;
    transition: all ease 0.4s;
}
#page5 #cards .somp3:hover .card1{
    background-color: #aea488;
    transition: all ease 0.4s;
}
#page5 #cards .somp2:hover {
    background-color: #aea488;
    transition: all ease 0.4s;
}
#page5 #cards .somp3:hover{
    background-color: #aea488;
    transition: all ease 0.4s;
}
#page5 #cards .somp1:hover + .somp2,.somp3{
    transform: translateX(-50%); /* Adjust the value as needed */
    transition: all ease 1s; /* Add a smooth transition effect */
    cursor:pointer;
} 
#page5 #cards .somp1:hover + .somp3,.somp1{
    transform: translateX(-50%); /* Adjust the value as needed */
    transition: all ease 1s; /* Add a smooth transition effect */
    cursor:pointer;
} 
#page5 #cards .somp1:hover{
    transform: translateX(-45%);
}
#page5 #cards .somp2:hover + .somp3{
        transform: translateX(-100%); /* Adjust the value as needed */
    transition: all 1s ease; /* Add a smooth transition effect */
    cursor:pointer;
}
#cards{
    width:100%;

}
.tobor{
    margin-top:5%;
    
    border-bottom: 1px solid #C3BCB2;
}
#nav{
    z-index:1000;
}
.textmove{
    height:180px;
    border-top:1px solid #222;
    border-bottom: 1px solid #222;
    width:95%;
    margin-left:2.5%;
    align-items:center;
    justify-content: center;
    white-space:nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}
.textmove::-webkit-scrollbar{
    display:none;
}
.textmove h1{
    font-size:100px;
    font-family: 'domain';
    align-items: center;
    margin-top:2%;
    font-weight: 100;
    letter-spacing: -2px;
    display:inline-block;
    margin-right:20px;
    animation-name: scroll;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.textmove h1 span{
    background-color: #1C1C1A;
    color:#C3BCB2;
    padding:0px 5px;
}
@keyframes scroll{
    0%{
        transform:translateX(0);
    }
    100%{
        transform:translateX(calc(-100% - 24px));
    }
}
.textmove:hover h1{
    animation-play-state: paused;
}
.footer{
    height:100px;
    width:95%;
    margin-left:2.5%;
    padding-top:30px;
    display:flex;
}
.footer h4{
    font-weight: 100;
    font-family: canopee;
    font-size:30px;
}
.leftfoot img{
    height: 30px;
    margin-left:15px;
    margin-right:10px;
}
.leftfoot{
    display:flex;
    font-size:25px;

    font-family: 'domain';
    font-weight: 20;
}
.rightfoot{
    display:flex;
    margin-left:61%;
    font-size:25px;
    font-family: 'domain';
    font-weight: 100;
}
.rightfoot UL{
    display:flex;
    margin-left:10px;
    padding-left:10px;
}
.rightfoot ul li{
    margin-left:10px;
    margin-right:10px;
}
